@use "_variables" as v;

.App {
  text-align: center;
  background-color: v.$main-background-color;
  display: flex;
  flex-direction: column;
}

.Title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 1px;
}

.TitleName {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 100px;
}

.TitleDate {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 100px;
}

.TitleLine {
  background-color: #565050;
  height: 2px;
  width: 100%;
  border: 0;
}

.PoemEntry {
  min-height: 62vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
  padding-bottom: 30px;
}

.PoemEntryDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PoemEntryDetailsSubject {
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.PoemEntryDetailsForm {
  display: flex;
  flex-direction: column;
}

.PoemEntryBox {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.PoemEntryDetailsSubjectSubject {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 30px;
}

.PoemEntryDetailsSubjectValue {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 60px;
}

.PoemEntryDetailsFormForm {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 30px;
}

.PoemEntryDetailsFormValue {
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 60px;
}

.PoemEntryBoxBelowSubmit {
  display: flex;
  justify-content: center;
  color: v.$main-font-color;
  font-family: v.$main-font-family;
  font-size: 25px;
  background-color: #453737;
  width: 50px;
  border: none;
}

.PoemEntryBoxBelowSubmit:hover {
  background-color: #282c34;
}

.PoemEntryBoxBox {
  min-height: 600px;
  min-width: 500px;
  resize: none;
  outline: none;
  font-family: v.$main-font-family;
  font-size: 20px;
}

.PoemEntryBoxBelow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding-top: 5px;
}
